.accounts {
  width: 100%;
  max-width: fit-content;
  min-width: 70%;
  margin: auto;
  .top {
    width: 100%;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: $margin-large;
    border-top: 5px solid $accent;
    background-color: $light;
    box-shadow: 1px 1px 3px rgba($darkest, 0.4);
  }
}
.accounts-list {
  list-style: none;
  border-top: 8px solid $dark;
  width: 100%;
  .account {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 1em;
    background-color: $light;
    border: 1px solid $dark;

    .row {
      display: flex;
      flex-direction: row;

      &:first-child {
        p {
          font-size: 1.5em;
        }

        @media screen and (max-width: 1135px) {
          flex-direction: column;
          align-items: stretch;
          .field {
            display: flex;
            width: 100%;
          }
        }
      }
      .field {
        flex: 1;
        display: flex;
        gap: 1em;
        align-items: center;
        border: 1px solid darken($light, 20%);
        padding: 0.5em;
        width: 20%;

        h2 {
          font-size: 1em;
        }
        &.money-actions {
          display: inline-flex;
          gap: 1em;
          input {
            background-color: lighten($accent, 38%);
            padding: 0.5rem 1rem;
            font-size: 1em;
            border: none;
            outline: none;
            cursor: text;
          }
          input:focus,
          input:hover {
            background-color: white;
          }
        }
        &.account-control,
        &.document {
          display: inline-flex;
          gap: 1em;

          @media screen and (max-width: 1135px) {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
.controls {
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
  gap: 0.5em;

  @media screen and (max-width: 1135px) {
    flex-direction: column;
    align-items: flex-end;
  }
  .control-box {
    width: fit-content;
    justify-self: flex-end;
    button {
      min-width: 13em;
      .inline-msg {
        display: none;
      }
    }
    &:hover {
      position: relative;
      font-size: 0.8rem;
      .inline-msg {
        height: auto;
        display: block;
        width: max-content;
        position: absolute;
        padding: 0.5em;
        border-radius: 8px 8px 0 8px;
        border-bottom: 5px solid $dark;
        border-right: 5px solid $dark;
        background-color: $light;
        color: $dark;
        top: -60%;
        right: 0;
        &.red {
          color: $red;
        }
      }
    }
  }
}
