.accounts {
  width: 100%;
  max-width: fit-content;
  min-width: 70%;
  margin: auto;
  .top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: $margin-large;
    border-top: 5px solid $accent;
    background-color: $light;
    box-shadow: 1px 1px 3px rgba($darkest, 0.4);
    .buttons {
      flex-wrap: wrap;
      margin-left: auto;
    }
  }
}
.accounts-list {
  list-style: none;
  border-top: 8px solid $dark;
  width: 100%;
  .account {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 1em;
    background-color: $light;
    border: 1px solid $dark;

    .row {
      display: flex;
      flex-direction: row;
      &:first-child {
        p {
          font-size: 1.5em;
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          align-items: stretch;
          .field {
            display: flex;
            width: 100%;
            position: relative;
            .currency-input {
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
      .field {
        flex: 1;
        display: flex;
        gap: 1em;
        min-height: 4em;
        align-items: center;
        border: 1px solid darken($light, 20%);
        padding: 0.5em;
        width: 20%;

        > h2 {
          font-size: 1em;
          color: lighten($dark, 40%);
          font-weight: normal;
        }
        &.money-actions {
          display: inline-flex;
          gap: 1em;
          input {
            background-color: lighten($accent, 38%);
            padding: 0.5rem 1rem;
            font-size: 1em;
            border: none;
            outline: none;
            cursor: text;
          }
          input:focus,
          input:hover {
            background-color: white;
          }
        }
      }
    }
  }
}
.controls-wrapper {
  gap: 0.5em;
  align-items: center;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  max-width: fit-content;
  margin-left: auto;
  justify-items: flex-end;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-end;
  }
  .control-box {
    position: relative;

    button:not(.close-btn) {
      min-width: 13em;
      .inline-msg {
        display: none;
      }
    }
    &:hover {
      position: relative;
      button .inline-msg {
        height: auto;
        display: block;
        width: max-content;
        position: absolute;
        padding: 0.5em;
        border-radius: 8px 8px 0 8px;
        border-bottom: 5px solid $dark;
        border-right: 5px solid $dark;
        background-color: $light;
        color: $dark;
        top: -60%;
        right: 0;
        font-size: 0.9em;
        &.red {
          color: $red;
        }
      }
    }
  }
}
