.add-account {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  max-width: 100%;
  padding: 1em 1em 2em 1em;
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    margin-bottom: 1em;
    flex-wrap: wrap;
    label {
      display: block;
      text-align: left;
      min-width: 3.1em;
      flex: 1;
      margin: auto;
      &[for="document"] {
        background-color: $dark;
        color: $light;
        padding: 1em 2em;
        display: block;
        border-radius: 5px;
        flex: 1;
        min-width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
        text-align: center;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: lighten($dark, 10%);
        }
      }
    }
    input {
      display: block;
      flex: 4;
      padding: 0.3em;
      font-size: 1em;
      margin: auto;
      max-width: 100%;

      &[type="file"] {
        text-indent: -6.4em;
        flex: 1;
        &.invisible {
          display: none;
        }
      }
    }
    .img-wrapper {
      position: relative;
      width: 100%;
      min-height: 200px;
      background-color: lighten($accent, 30%);
      img {
        display: block;
        width: 250px;
        height: auto;
        margin: auto;
      }
      button.remove-file-btn {
        position: absolute;
        top: 0;
        max-width: 3em;
        min-width: 3em;
        height: 3em;
        right: 0;
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .add-account {
      width: fit-content;
      padding: 0.5em;
    }
  }
}
